.DS_Store
.vscode

# Ignore the build folder
build/

# Ignore CMakeFiles
CMakeFiles/
*.cmake

# Ignore generated Makefiles

# Ignore compiled binaries and executables
*.o
*.exe
*.out
*.a
*.so
*.dll

07/**/*.asm
